 <div class="container my-5">
   <div class="card px-5 w-50 mx-auto form-container">
 <form action="/auth/signup" method="POST" enctype="multipart/form-data">
     <h3 class="display-1 my-5 ml-3">Signup</h3>
      <div class="form-group">
        <label for="exampleInputPassword1">Nombre</label>
        <input type="text" class="form-control" name="username" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Apellido</label>
        <input type="text" class="form-control" name="userlastname" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Foto de perfil</label>
        <input name="pictureInputURL" type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Crear una cuenta</button>
      <p class="account-message text-center">
        ¿Ya tienes una cuenta?
        <a href="/auth/login">Login</a>
      </p>
      {{#if message}}
   <div class="error-message" style="color:crimson">{{message}}</div>
   {{/if}}
   </form>
<div class=" text-center my-5">
  <button id="btn-google" type ="submit" class="btn btn-primary">
  <a href="/auth/google">Continuar con Google</a>
  </button>
</div>
   </div>

 </div>
