<h1 class="display-1 my-5 ml-3">Bienvenido a tu perfil {{username}}</h1>

<hr>
<p>¿Qué quieres hacer?</p>
<form  action="/user/checkvendedor" method="POST">
<button type="submit">Quiero Alquilar Productos</button>
</form>
<br>
<form  action="/user/checkcomprador" method="POST"  >
<button  type="submit">Quiero Reservar Productos</button>
</form>