
<h1>Bienvenido a tu perfil {{username}}</h1>
<p></p>

<p>Quieres arrendar tus muebles o necesitas arrendar para ti o tu compañía?</p>
<a href="/vendedor">Dueño de los muebles</a>
<br>
<a href="/comprador">Arrendatario</a>