// titulo-barra-usuario: #e5c5b5  fondo-modal: #f4d9c6 boton-principal: #C0DECE boton-secundario:  #c4c4c4
// titulo-barra-vendedor: #94b4a4 fondo-modal: #C0DECE boton-principal: #f4d9c6 boton-secundario:  #c4c4c4
//
// background: #f2f6f5

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Montserrat&display=swap");

body {
  padding: 0;
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  background-color: #f2f6f5 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Assistant", Helvetica, Arial, sans-serif;
}

h5 {
  margin: 0 !important;
}

a {
  color: #4a4a4b !important;
}

.nav-bar-color {
  background-color: #e5c5b5 !important;
}

.title-nav-bar {
  font-size: 2rem !important;
}

input {
  background-color: #f2f6f5 !important;
}

footer {
  background-color: #c4c4c4;
}

.copy {
  background-color: #969494 !important;
}

button {
  background-color: #c0dece !important;
  border-color: #c0dece !important;
  color: #c4c4c4;
  border-radius: 50rem !important;
}

.btn-anchor {
  background-color: #c0dece !important;
  border-color: #c0dece !important;
  color: #c4c4c4;
}
