
<div id="boughtCart" class="row row-cols-1 column-cols-md-1">
  <div class="col mb-1">
    <div class="card">
      <img src="/images/BoughCart/manos-saludo.jpg" class="card-img-top" alt="manos-saludando">
      <div class="card-body">
        <h2 class="card-title">Gracias por realizar su pedido</h2>
        <br>
        <p class="card-text">Le llegará a un correo con la confirmación de los productos y el tiempo estimado de entrega.</p>
      </div>
    </div>
  </div>
  </div>
  