<h1>New Product</h1>
<form action="/products/new" method="post" enctype="multipart/form-data">
  <input type="text" name="name" id="name" placeholder="name"> <br>
  <input type="text" name="description" id="description" placeholder="description"> <br>
  <input type="file" name="imagesURL" id="imagesURL"> <br>
  <input type="number" name="quantity" id="quantity" placeholder="quantity"> <br>
  <label for="category">Categoría</label>
  <select name="category" id="category">
    <option value="Sin Categoría">Sin Categoría</option>
    <option value="Sofás">Sofás</option>
    <option value="Mesas">Mesas</option>
    <option value="Sillas">Sillas</option>
    <option value="Escritorios">Escritorios</option>
    <option value="Armarios">Armarios</option>
    <option value="Otomanos">Otomanos</option>
    <option value="Mesas de Comedor">Mesas de Comedor</option>
    <option value="Sillas de Comedor">Sillas de Comedor</option>
    <option value="Soportes para TV">Soportes para TV</option>
    <option value="Librerías">Librerías</option>
    <option value="Futones">Futones</option>
    <option value="Coffee Tables">Coffee Tables</option>
    <option value="Taburetes">Taburetes</option>
    <option value="Mesa de Noche">Mesa de Noche</option>
    <option value="Mesas de Conferencias">Mesas de Conferencias</option>
    <option value="Mesas de Entrenamiento">Mesas de Entrenamiento</option>
    <option value="Sillas de Visitante">Sillas de Visitante</option>
    <option value="Mesas de Oficina">Mesas de Oficina</option>
    <option value="Sillas de Oficina">Sillas de Oficina</option>
    <option value="Sillas Ejecutivas">Sillas Ejecutivas</option>
    <option value="Taburetes de Oficina">Taburetes de Oficina</option>
    <option value="Unidades de Almacenamiento de Oficina">Unidades de Almacenamiento de Oficina</option>
    <option value="Repisas de Oficina">Repisas de Oficina</option>
    <option value="Estaciones de trabajo">Estaciones de trabajo</option>  
  </select> <br>
  <input type="number" name="price" id="price" placeholder="price"> <br>
  <button type="submit">Add new product</button>
</form>