<h1>New Product</h1>
<form action="/products/new" method="post" enctype="multipart/form-data">
  <input type="text" name="name" id="name" placeholder="name"> <br>
  <input type="text" name="description" id="description" placeholder="description"> <br>
  <input type="file" name="imagesURL" id="imagesURL"> <br>
  <input type="number" name="quantity" id="quantity" placeholder="quantity"> <br>
  <input type="number" name="price" id="price" placeholder="price"> <br>
  <button type="submit">Add new product</button>
</form>