<h1>New Product</h1>
<form action="/product/new" method="post" enctype="multipart/form-data">
  <input type="text" name="name" id="name" placeholder="name">
  <input type="text" name="description" id="description" placeholder="description">
  <input type="file" name="image" id="image">
  <input type="number" name="quantity" id="quantity" placeholder="quantity">
  <input type="number" name="price" id="price" placeholder="price">
  <button type="submit">Add new product</button>
</form>